body {
  transition: background 0.5s ease;
  background-repeat: no-repeat;
  background-size:contain;

}

.javascript {
  background-image: url('images/JavaScript-logo.png');
}

.java {
  background-image: url('images/Java\ logo.png');
}

.python {
  background-image: url('images/Python-logo.png');
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: auto;
  max-height: 300px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
h1{
  color:red;
}
p{
  color:red;
}